
extends layout

block content
  h1 Title: #{book.title}

  p #[strong Author:]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  
  hr
  p
    a(href=book.url+'/delete') 
    button.btn.btn-primary(type='Submit', href=author.url+'/delete') Delete book
  hr
  p
    a(href=book.url+'/update')
    button.btn.btn-primary(type='Submit', href=author.url+'/update') Update book
